{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}
{% block content %}
<div class="main-container">
    <form class="login" action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
        <h2>Welcome, User!</h2>
        <p>Please Register Your Account</p>
        <input type="text" placeholder="Full name" name="full-name" />
        <input type="email" placeholder="exmple@gmail.com" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <input type="password" placeholder="Retype Password" name="re-password" />
        <input type="submit" value="Sign Up" />
        <div class="links">
            <a href="{% url 'accounts:login' %}">sign in</a>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>    
{% endblock %}