{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/addroommate.css' %}">
{% endblock %}

{% block content %}


<div class="container">

    <h2 class="text-center my-3">Add Roommate</h2>

    <div class="p-4 border rounded shadow">
        <form action="{% url 'main:add_roommate' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="mb-0 mb-1">Name:</p>
            <input type="text" class="form-control mb-3" placeholder="Enter Name" name="full-name">
            <p class="mb-0 mb-1">Email:</p>
            <input type="email" class="form-control mb-3" placeholder="Enter Email" name="email">
            <p class="mb-0 mb-1">Phone:</p>
            <input type="text" class="form-control mb-3" placeholder="Enter Phone" name="phone">
            <p class="mb-0 mb-1">Mobile:</p>
            <input type="text" class="form-control mb-3" placeholder="Enter Mobile" name="mobile">
            <p class="mb-0 mb-1">Address:</p>
            <input type="text" class="form-control mb-3" placeholder="Enter Address" name="address">
            <label class="picture" for="picture__input" tabIndex="0">
                <span class="picture__image"></span>
            </label>

            <input type="file" name="picture__input" id="picture__input">

            
            <ol id="list"></ol>
            <div class="row">
                <h4 class="mt-2">Attributes</h4>
                <input type="hidden" name="attribute_list" id="attrList">
                <div class="col-8">
                    <input type="text" name="" id="attr" list="attributes" class="form-control">
                </div>
                <datalist id="attributes">
                    {% for attribute in all_attributes %}
                    <option value="{{attribute.name}}"></option>

                    {% endfor %}
                </datalist>
                <div class="col-4 d-flex justify-content-around">
                    
                    <div>
                        <input type="radio" id="star-5" name="rateA" value="1" />
                        <label for="star-5" title="text"><i class="fa fa-star"></i></label>
                        <input type="radio" id="star-4" name="rateA" value="2" />
                        <label for="star-4" title="text"><i class="fa fa-star"></i></label>
                        <input type="radio" id="star-3" name="rateA" value="3" />
                        <label for="star-3" title="text"><i class="fa fa-star"></i></label>
                        <input type="radio" id="star-2" name="rateA" value="4" />
                        <label for="star-2" title="text"><i class="fa fa-star"></i></label>
                        <input type="radio" id="star-1" name="rateA" value="5" />
                        <label for="star-1" title="text"><i class="fa fa-star"></i></label>
                    </div>
                    <button class="btn btn-primary" type="button" onclick="add_attribute()">Add</button>
                </div>
            </div>


            <div class="text-end mt-5">
                <button class="btn btn-primary">submit</button>
            </div>
        </form>
    </div>

</div>



{% endblock %}
{% block scripts %}
<script src="{% static 'js/addroommate.js' %}"></script>
{% endblock %}